<div class="body-content">
    <p id="notice"><%= notice %></p>
        <h3>編集してください(edit)</h3>
        <%= render 'form', blog: @blog %>
    <br>
    <%= link_to '詳細', @blog %> |
    <%= link_to '一覧', blogs_path %>
</div>